<section class="hero" id="hero">
  <nav class="hero__nav">
    <h2 class="hero__nav--text">¿Dónde cenamos?</h2>
    <a
      class="hero__buttonMenu"
      href="https://github.com/Natalia-GP"
      title="To Github"
      target="_blank"
      >&equiv;</a
    >
  </nav>
  <img
    class="hero__title"
    src="./assets/images/title.png"
    alt="Restaurants Show"
  />
</section>
<nav class="buttonsHero">
  <button class="btn">
    <a
      class="link__rest"
      href="https://natalia-gp.github.io/Portfolio/"
      title="To Portfolio"
      target="black"
      >RESTAURANTES</a
    >
  </button>
  <button class="btn">
    <a
      class="link__rest"
      href="https://www.linkedin.com/in/natalia-gomez-perez/"
      title="To LinkedIn"
      target="blank"
      >RESERVAS</a
    >
  </button>
</nav>
