<main class="restaurants">
  <h2 class="restaurants__text">restaurantes</h2>
  <section class="restaurant__section">
    <div class="rest1">
      <h3 class="title_restaurant">Corral de la Morería</h3>
      <p>
        Corral de la Morería es el Tablao Flamenco más afamado y prestigioso del
        mundo. Un templo del arte. Desde su inauguración en 1956, ofrece cada
        noche una experiencia única en el mundo gracias a su apuesta por la
        máxima calidad tanto en la programación artística como en la oferta
        gastronómica y la atención al cliente.
      </p>
    </div>
    <img class="img2" src="./assets/images/corral.jpg" alt="img2" />
    <div class="rest2">
      <h3 class="title_restaurant">Arrogante</h3>
      <p>
        En Arrogante te sentirás como en el centro de la pista de un animado y
        divertido circo vintage donde disfrutar de una cocina clásica italiana
        con toques de autor, muchos cócteles, buena música con éxitos italianos
        de los 80 y 90 y divertidos espectáculos.
      </p>
    </div>
    <img class="img3" src="./assets/images/arrogante.jpg" alt="img3" />
    <div class="rest3">
      <h3 class="title_restaurant">Fanático</h3>
      <p>
        Actuaciones en directo, una decoración que es pura magia, cocina
        mediterránea reinventada y un ambiente top. Por todo esto (y mucho más)
        Fanático ya es uno de los restaurantes preferidos de la 'jet set'
        madrileña.
      </p>
    </div>
    <img class="img4" src="./assets/images/fanatico.jpeg" alt="img4" />
    <div class="rest4">
      <h3 class="title_restaurant">Nómada</h3>
      <p>
        Una jaima en el corazón de Madrid. Un paraíso terrenal para cenar, beber
        y sanar. Un alto en el camino. Un espejismo. El retorno a nuestro ser
        original. Música, poesía y hospitalidad son sus señas de identidad.
        Nómadas
      </p>
    </div>
    <img class="img5" src="./assets/images/nomada.jpg" alt="img5" />
    <div class="rest5">
      <h3 class="title_restaurant">Olé Olá</h3>
      <p>
        Te presentamos Olé Olá. Alma Flamenca Experience, un show-dinner en el
        que se encuentran la mejor gastronomía con la pasión, el arte, y los
        taconeos de nuestro mejor flamenco en un mismo espacio, el emblemático
        Teatro Eslava.
      </p>
    </div>
    <img src="./assets/images/oleola.jpg" class="img7" alt="img7" />
  </section>
</main>
